<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.clapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAaIvGAWElbKAc-whulIeGbuX0PKm_h9d8" />

        <activity android:name=".Authentication"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EventActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateEvent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoadingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".QRS" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserListEvent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventListByUser"
            android:screenOrientation="portrait" />
        <activity android:name=".EventMap"></activity>
    </application>

</manifest>